@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins'
    /*Fonte Web do Google Fonts*/
}

h2 {
  text-align: center;
  margin-top: 60px;
  /*margem superior*/

}
h1 {
  text-align: center;
  margin-top: 60px;
  /*margem superior*/

}

p 
{
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: #0e365f;
  /*Cor de fundo*/
  text-align: center;
  /*Alinhamento do texto*/
}

.destaque {
  text-align: center;
  margin-bottom: 50px;

  p {
    font-size: 1.2rem;
    color: #555
  }


}

.Card:hover {
  transform: translateY(-2px);
  box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.2)
}

main {
  max-width: 1200px;
  /*Largura*/
  /*Fixa a Largura*/
  margin: 0px auto 0px auto;
  padding: 40px 20px;

}

/*O Grid Principal na página index*/
.grid-home {
  display: flex;
  /*Muda o padrão de bloco para flexível*/
  flex-wrap: wrap;
  gap: 20px;

  /*Permite a "quebra de linha"*/
  * {
    flex-basis: 270px;
    /*Fixar a largura de cada coluna*/
    flex-grow: 1;
    /*Permitir que ele expanda*/
    flex-shrink: 1;
    /*Permitir que ele reduza*/
  }


}

.Card

/*add um ponto antes do nome para classe*/
  {
  background-color: white;
  /*Cor de fundo branco*/
  text-align: center;
  /*Centralizar o texto*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  /*Sombra*/
  /*Primeira refer. = eixo horizontal; vertical; raio (opacidade).
    rgba: red, green, blue, alfa (significa transparência); pode ir de 0 até 256 cada;*/
  padding-bottom: 15px;
  border-radius: 15px;
  /*cantos arredondados*/
  overflow: hidden;
  /*ocultar as partes da imagem que excedem a borda*/
  img

  /*Imagens dentro do Card*/
    {
    width: 100%;
  }

  p {
    font-size: .95rem;
    /*por padrão se trabalha com pixels, mas o rem é uma unidade de medida que é usada especialmente quando se trabalha com layout expansivo. 1 rem significa que ele é igual ao referencial, aqui seria 16, mas se ele colocar .95, então é menos que 1 rem, seria aqui uns 15 pixels.*/
    padding: 10px;

  }
}

/* Estilizar os botões sociais da página */
.social {
  display: flex;
  /*modo flexível porque antes o social era modo bloco, com ele você tem diversas formas de trabalhar, modo expansivo. */
  justify-content: center;
  margin-top: 10px;
  gap: 15px;

  a {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    /*Altera a decoração do texto ou link*/
    border-radius: 8px;
    /*Para arredondar os cantos do botão*/
    font-weight: 500;
    /*níveis de negrito na fonte*/
  }

  a:hover {
    transform: translateY(-2px);
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.2)
  }

  a i {
    margin-right: 8px;
    font-size: 1.1rem;
  }

  a:nth-child(1) {
    background-color: #3b5998;
    /*Cor de fundo do Facebook*/
  }

  a:nth-child(2) {
    background-color: #ff0000;
    /*Cor de fundo do Youtube*/
  }

  a:nth-child(3) {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    /*Cor de fundo do Instagram*/
  }

  a:nth-child(4) {
    background-color: #25d366;
    /*Cor de fundo do WhatsApp*/
  }

  a:nth-child(5) {
    background-color: #000;
    /*Cor de fundo do TikTok*/
  }

}

.Voltar {
  text-align: center;
  margin-top: 20px;
}

.grid-clinica {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  * {
    flex-grow: 1;
    /*Vai aumentar o tamanho, se necessário*/
    flex-shrink: 1;
    /*diminuir o tamanho, se necessário*/
    flex-basis: 250px;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  h2 {
    text-align: start;
    margin-top: 0PX;
    margin-bottom: 15PX;
  }

  p {
    font-size: 1rem;
    line-height: 150%;
    /*Espaçamento entre as linhas*/
    margin-bottom: 10px;
  }
}

.grid-especialidades {
  display: flex;
  /*Muda o padrão de bloco para flexível*/
  flex-wrap: wrap;
  gap: 20px;


  /*Permite a "quebra de linha"*/
  * {
    flex-basis: 300px;
    /*Fixar a largura de cada coluna*/
    flex-grow: 1;
    /*Permitir que ele expanda*/
    flex-shrink: 1;
    /*Permitir que ele reduza*/
  }

}

/* Formatação da Tabela*/
.Tabela1,
.Tabela2,
.Tabela3 {
  border-collapse: collapse;
  /*Tirar o espaçamento padrão entre as células*/
  width: 100%;
  /*Para preencher toda a tela, largura máxima*/
  margin-top: 20px;
}

.Tabela1 th {
  background-color: #aaa;
  border: 2px solid #aaa;
  padding: 8px;
  text-align: start;
}

.Tabela1 td {
  border: 2px solid #ccc;
  padding: 8px;
}

/*Alinha a coluna de preço, do cabeçalho e corpo á direita*/
.Tabela1 th:nth-child(3),
.Tabela1 td:nth-child(3) {
  text-align: end;
}

.Tabela1 th:nth-child(4),
.Tabela1 td:nth-child(4) {
  text-align: center;
}

.Tabela2 th {
  text-align: start;
  border-bottom: 3px solid #aaa;
  padding: 8px;
}

/*Formatação Específica Tabela 2*/
.Tabela2 td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.Tabela2 th:nth-child(3),
.Tabela2 td:nth-child(3) {
  text-align: end;
}

.Tabela2 th:nth-child(4),
.Tabela2 td:nth-child(4) {
  text-align: center;
}

/*Formatação Específica Tabela 3*/
.Tabela3 th {
  text-align: start;
  background-color: #aaa;
}

.Tabela3 th,
td {
  padding: 8px;
}

.Tabela3 tr:nth-child(even)

/*Even = par, Odd = ímpar*/
  {
  background-color: #ccc;
}

/* Tabela Responsiva 
.tabela-responsiva {
overflow-x: auto}*/


.grid-convenios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;

  /* Espaçamento entre os ícones */
  div {
    flex-basis: 17%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    margin-bottom: 30px;
  }


  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    /*Tirar o negrito do texto*/
  }

  i {
    font-size: 4rem;
    color: #293f5f;
    margin-top: 20px;
  }
}

.galeria-destaque

/*formatação galeria de fotos*/
  {
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px;
  /*/top:30 direita:0 bottom:10 e left:0*/
  background-color: #000;

  img {
    width: 60%;
  }
}

.galeria-miniaturas {
  display: flex;
  justify-content: space-between;

  img {
    width: 105px;
  }

  img:hover {
    cursor: pointer;
    /*altera o cursor*/
  }
}

.videos {
  text-align: center;

  video {
    width: 60%;
    height: auto;
  }
}

.contato {
  display: flex;
  gap: 1.5rem;

  div {
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  iframe {
    width: 100%;
    border-radius: 10px;
  }
}

  label {
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.8rem;
  }

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=time],
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }

  select {
    padding: 8px;
    border-radius: 5px;
  }

  input[type=submit] {
    background-color: #3b5998;
    color: #fff;
    padding: 10px 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .agendamento
  {
    width: 50%;
    margin: 0 auto;
    text-align: center;
      .form-group
     {
      display: flex;
      justify-content: space-between;
     }
     input[type=date],
     input[type=time]
     {
      padding: 8px;
     }
     input[type=submit]
     {
      margin-top: 30px;
     }
  }

  /* Media queries */
  /* @media screen and (max-width: 800px)
  {
    header
    {
       background-color: yellow;
    }
  }

  @media screen and (max-width: 600px) 
  {
    header 
    {
      background-color: red;
    }
  } */

  @media screen and (max-width: 760px) 
  {
    .grid-clinica, .grid-especialidades, .grid-convenios, .contato, .grid-home, .social, .galeria-miniaturas, .form-group
    {
      flex-direction: column;
      align-items: center;
    }
    .Card, iframe, videos
    {
      width: 100%;

    }
    header
    {
      align-items: center;
    }
    .social a 
    {
      width: 100%;
      text-align: center;
    }


    
  }

footer {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  margin-top: 60px;
  font-size: 0.9rem;
  color: #777;
}